<div class="card">
  @if (messages$ | async; as messages) {
  <h2>Message History ({{messages.length}})</h2>
  @for(message of messages; track message.id) {
  <div class="message-item">
    <div class="message-item-header">
      <div class="phone-label">{{formatPhoneNumber(message.phone_number)}}</div>
      <div class="timestamp-label">{{formatCreatedAt(message.created_at)}}</div>
    </div>
    <div class="message-item-text">{{message.text}}</div>
    <div class="message-item-footer">
      @if(message.status === 'delivered'){
      <div style="color: #228b22">Status: {{message.status}}</div>
      <div style="color: #666666">{{getCharacterCount(message)}}</div>
      } @else {
      <div style="color: #666666; text-align: right; width: 100%">
        {{getCharacterCount(message)}}
      </div>
      }
    </div>
  </div>
  } }
</div>
