body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input,
textarea,
select,
button {
  box-shadow: none;
  border: 1px solid #a4a4a4;
  outline: none;
  background: white;
  font-family: inherit;
  font-size: inherit;
}
