body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input,
textarea,
select,
button {
  box-shadow: none;
  border: 1px solid #a4a4a4;
  outline: none;
  background: white;
  font-family: inherit;
  font-size: inherit;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px 40px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  height: 560px;
  width: 420px;
  overflow: scroll;
}
